# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [1]:
# Import sqlite3 and pandas.
import sqlite3 as sl
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [2]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [3]:
# Create a new table in your database.
with con:
    con.execute("""
        CREATE TABLE Favorite_books(
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            Title TEXT,
            Author TEXT,
            Description TEXT
        );
    """)

OperationalError: table Favorite_books already exists

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [ ]:
# Add your 3 favorite books to your table.

sql = 'INSERT INTO Favorite_books (id,  title, author, description) values(?, ?, ?, ?)'
data = [
    (1, 'The little engine','Robert','Educational'),
    (2, 'Bob the builder','Bob', 'Hard working'),
    (3, 'Chris goes fishing','Christopher', 'nice hobby')
    
]
with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [4]:
# Write your SELECT query here.
with con:
    data = con.execute("SELECT * FROM Favorite_books")
    for row in data:
        print(row)

(1, 'The little engine', 'Robert', 'Educational')
(2, 'Bob the builder', 'Bob', 'Hard working')
(3, 'Chris goes fishing', 'Christopher', 'nice hobby')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [ ]:
# Use Pandas to make a new table in your database.

In [ ]:
df_movies = pd.DataFrame({
    'id': [1,2,3],
    'Title': ['Samjhana', 'Darpan chhaya', 'Lahure']
})

In [ ]:
df_movies.to_sql('favmovies', con)

In [5]:
df = pd.read_sql('''
       SELECT Title
        FROM favmovies 
    ''', con)

In [7]:
print(df)

           Title
0       Samjhana
1  Darpan chhaya
2         Lahure